{% extends "base.html" %}

{% block title %} Instructions List{% endblock %}

{% block content %}
<!-- instruction/templates/instruction/instruction_list.html -->

<div class="container my-5">
    <h2>Instruction List</h2>
    <a href="{% url 'instruction_create' %}" class="btn btn-primary mb-3">Create New Instruction</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Title</th>
                <th>Tank</th>
                <th>Manual Method</th>
                <th>Custom Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for instruction in object_list %}
                <tr>
                    <td>{{ instruction.title }}</td>
                    <td>{{ instruction.tank }}</td>
                    <td>{{ instruction.manual_method }}</td>
                    <td>{{ instruction.custom_description }}</td>
                    <td>
                        <a href="{% url 'instruction_update' instruction.pk %}" class="btn btn-outline-primary btn-sm">Edit</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
